<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <style>
   *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
   }
   body{
     background: rgb(219,226,226);
   }
   .row{
     background: white;
     border-radius: 5px;
   }
   img{
     border-top-left-radius: 30px;
     border-bottom-left-radius:30px ;
     margin-top: 60px ;
     margin-left: 0px;
   }
   .button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: blue}

.button:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
    }
    .hr-text::before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    
    color: #818078;
    background-color: #fcfcfa;
  }
 </style>
  </head>
  <body>
    <section class ="Form mx-0 mb-0">
        <div class="container-fluid" >
            <div class="row">
            <h2 class="text-primary font-weight-bold p-4" >Meet home</h2>
            <div class="col-lg-5 d-grid place-items-center align-items-center">
                <img src="img/img2.jpeg" style="max-width: 500px;" class="img-fluid" alt="no image" >
            </div>
      <div class="col-lg-7 px-5 pb-5" style="min-height: 100vh;">
      <h1 class="font-weight-bold py-3">Sign up</h1>


    
        <div class="bg-white border border-light p-5 mt-5 rounded justify-content-center d-grid place-items-center" style="max-width: 400px;border-width:5px !important; margin: 0 auto;">
            <form action="/signup" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter full name" required>
                    
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control " id="password" name="password" placeholder="Enter password" required>
                </div>
                <div class="form-group">
                    <label for="cpassword">Confirm Password</label>
                    <input type="password" class="form-control " id="cpassword" name="confirmPassword" placeholder="Enter password again" required>
                </div>
                <div class="form-group">
                  <button type="submit" class="my-3 btn btn-primary w-100">Sign Up</button>
                </div>
            </form>
            <hr data-content="OR" class="hr-text">
            <div class="others" style="max-width: 200px;margin:auto;">
                <div id="g_id_onload"
                  data-client_id="985697523517-dkp2f6qrf6bo51mi8416mj3e41jcvpm9.apps.googleusercontent.com"
                  data-context="signup"
                  data-ux_mode="redirect"
                  data-login_uri="google_auth"
                  data-nonce=""
                  data-auto_select="false"
                  data-itp_support="true">
              </div>

              <div class="g_id_signin"
                  data-type="standard"
                  data-shape="rectangular"
                  data-theme="outline"
                  data-text="signup_with"
                  data-size="medium"
                  data-logo_alignment="center">
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <span>Already have an account?</span>
                    <a href="/signin" class="text-primary font-weight-bold">Sign In</a>
                </div>
                <div class="col-12">
                    <a href="/forgot" class="text-dark">Forgot Password?</a>
                </div>
            </div>
        </div>
          
     
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>